body{
    background-size: cover;
}
.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
}
#start, #number_of_objects, #status{
    font-size: 18px;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color:darkslategrey;
    color: white;
    text-align: center;
    width: 100%;
    padding: 7px;
}
canvas{
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px grey;
}